.productCard {
    width: 47%;
    padding-bottom: 47%;
    position: relative;

    h1 {
        font-family: "Cream Cake";
    }
}

@media screen and (max-width: 700px) {
    .productCard {width: 100%;}
}