
@media (max-width:920px) {
  .homePage{
    /* height:1050px; */
    background-image: url("./assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .breadTypes{
    font-size: 9px;
  } */
  .optionButton{
    font-size: 4px;
  }
}
@media (min-width:1280px) {
  .homePage{
    background-image: url("./assets/background.png");
    background-position: center;
    /* height:900px; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .describePar{
     width:430px;
    }
    .optionButton{
      font-size: 3px;
    }
}
.homePage{
  background-image: url("../assets/background.png");
  background-position: center;
  /* height:900px; */
  padding-top: 200px;
  padding-bottom: 170px;
  background-repeat: no-repeat;
  background-size: cover;
}

.neg_margin {
  margin-top: -170px;
}
