@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Cream Cake';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Cream\ Cake.woff') format('woff');
  src: url("./fonts/Cream\ Cake.ttf") format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sub-title {
    @apply text-center font-bold my-0 my-4;
  }
}

h5 {
  letter-spacing: 4px;
}
.primaryColor{
  color: #FC871A;
}
.primaryBackground{
  background-color: #FC871A;
}
.navComponent{
  color:#FC871A;
  border-bottom-color: #FC871A;
}
:root {
  --primaryColor: #FC871A;
  --white: #fff;
  --black: #000;
  --secondaryColor: #272727;
  --grey: #838383;
  --lightbg: #FFF7F0;
  --cardShadow: 0 4px 4px rgba(0, 0, 0, .25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: "Montserrat";
}

.glassy {
  background: rgba( 255, 255, 255, 0.2 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
}

.glassy_nav {
  transition: all 1s;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 100px );
}